/* index.css */
@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
}

section {
  scroll-margin-top: 100px;
}

img {
  transition: transform 0.3s ease;
}

img:hover {
  transform: scale(1.03);
}
 @keyframes blink {
    0% { opacity: 0.3; }
    50% { opacity: 1; }
    100% { opacity: 0.3; }
  }
  .animate-blink {
    animation: blink 2s infinite;
  }

